@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333;
  background-color: #f3f4f6;
}

/* Toggle Switch Styles */
.toggle-checkbox {
  right: 0;
  z-index: 5;
  transition: all 0.3s;
}

.toggle-label {
  transition: background-color 0.3s;
}

.toggle-checkbox:checked {
  right: 1.5rem;
}

/* RTL support for sidebar */
[dir='rtl'] .toggle-checkbox {
  right: auto;
  left: 0;
}

[dir='rtl'] .toggle-checkbox:checked {
  right: auto;
  left: 1.5rem;
}
